name: Update 24 7 VV DD ita and world

on:
  schedule:
    - cron: "0 1 */2 * *" # ogni 3 giorni alle 2 di notte CEST
  workflow_dispatch:

jobs:
  update-files:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: false
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install requests pytz
          pip install bs4
          pip install chardet
          
      - name: Remove old files
        env:
          M3U4U_EPG: ${{ secrets.M3U4U_EPG }}
        run: |
          rm -f 247channels.html
          rm -f 247ita.m3u8

      - name: Run Vavoo e daddy247 scripts
        env:
          M3U4U_EPG: ${{ secrets.M3U4U_EPG }}
        run: |
          python vavoo.py
          python 247ita.py
          
      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          
          # Ignore Python bytecode files to avoid binary conflicts
          echo "__pycache__/" >> .gitignore
          echo "*.pyc" >> .gitignore
          
          # Stage all changes
          git add .
          
          # Check if there are changes to commit
          if [[ -n $(git status --porcelain) ]]; then
            # Commit changes
            git commit -m "Update world247 $(date +%H:%M)"
            
            # Push changes without force
            git push
          else
            echo "No changes to commit"
          fi
